
#app .footerPanel .options a.download{
    background: url('../../../modules/wellcomeplayer-extendedfooterpanel-module/img/download.png') no-repeat;
    height: 21px;
    width: 91px;
}

#app .footerPanel .options.minimiseButtons a.download{
    width: 27px;
}

#app .footerPanel .options a.save{
    background: url('../../../modules/wellcomeplayer-extendedfooterpanel-module/img/save.png') no-repeat;
    height: 21px;
    width: 132px;
}

#app .footerPanel .options.minimiseButtons a.save{
    width: 20px;
}

#app .footerPanel .options a.imageButton.embed{
    background: url('../../../modules/wellcomeplayer-extendedfooterpanel-module/img/embed.png') no-repeat;
    height: 21px;
    width: 75px;
}

#app .footerPanel .options.minimiseButtons a.imageButton.embed{
    width: 27px;
}
